<div class="spacer-huge"></div><div class="padding-global-4"><div class="collection-heading-wrapper"><h2 class="heading-style-h2-5">
{{ section.settings.text_heading_2 }}
</h2>
<div class="spacer-medium"></div><div class="text-size-medium-2">
{{ section.settings.text_copy_text }}
</div>
</div><div li-content-for-blocks="" class="collections-grid">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}
{% when 'soundupgrade-item' %}
            <div li-block="Soundupgrade Item">
                    
                    <a href="{{ block.settings.url_link }}" class="collections-block-link w-inline-block"> <div class="collections-block"><img loading="lazy" alt="" src="{{ 'product.metafields.custom.collection_image' | asset_url }}" class="collection-block-image"><div class="spacer-small"></div><div class="heading-style-h2-5">{{ block.settings.text_marke }}</div></div> </a>

                    
                </div>
    {% endcase %}
{% endfor %}

    </div>
</div><div class="spacer-huge"></div> {% schema %} {"tag":"div","name":"collection-display","class":"section_collection-display","blocks":[{"name":"Soundupgrade Item","type":"soundupgrade-item","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"text_marke","type":"text","label":"Marke","default":"Auto Marke"}]},{"type":"@app"}],"settings":[{"id":"text_heading_2","type":"text","label":"Heading 2","default":"Heading"},{"id":"text_copy_text","type":"text","label":"Copy Text","default":"This is some text inside of a div block."}],"presets":[{"name":"collection-display","category":"Liquify","blocks":[{"type":"soundupgrade-item"}]}]} {% endschema %}