<div data-animation="default" class="nav_component-2 w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="5a3d68ce-093a-68c8-fab8-972baa206dee" role="banner" data-duration="400" x-data="">
        <div class="nav_container-4">
          <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="nav_logo-link w-nav-brand"><img src="{{ 'image-19.webp' | asset_url }}" loading="lazy" alt="" class="image"></a>
          <nav role="navigation" id="w-node-_5a3d68ce-093a-68c8-fab8-972baa206df2-aa206ded" class="nav_menu-5 is-page-height-tablet w-nav-menu">
            <div>
              <div data-delay="200" data-hover="true" class="nav_menu-dropdown w-dropdown">
                <div class="nav_dropdown-toggle-4 w-dropdown-toggle">
                  <div class="dropdown-icon-4 w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                    </svg></div>
                  <a li-object:href="link.url" href="{{ link.url }}" class="navbar-text w-inline-block">
                    <div>
                      <div class="navbar-text">
{{ section.settings.text_text_automarke }}
</div>
                    </div>
                  </a>
                </div>
                <nav class="nav_dropdown-list-2 w-dropdown-list">
                  <div class="padding-global max-width-full">
                    <div class="uui-navbar02_dropdown-content">
                      <div class="uui-navbar02_dropdown-content-left">
                        <div id="w-node-_5a3d68ce-093a-68c8-fab8-972baa206dff-aa206ded" class="navbar-dropdown-content-wrapper is-left">
                          <div class="navbar-dropdown-header">
{{ section.settings.text_heading_left_marke }}
</div>
                          <div class="spacer-small"></div>
                          <div class="navbar-dropdown-bestseller-wrapper">
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_marke_1 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_marke_1 }}">{% if section.settings.image_product_image_marke_1 %} {{ section.settings.image_product_image_marke_1 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_marke_1 }}</a> </div> </div>
                            </div>
                            <div class="line"></div>
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_marke_2 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_marke_2 }}">{% if section.settings.image_product_image_marke_2 %} {{ section.settings.image_product_image_marke_2 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_marke_2 }}</a> </div> </div>
                            </div>
                            <div class="line"></div>
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_marke_3 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_marke_3 }}">{% if section.settings.image_product_image_marke_3 %} {{ section.settings.image_product_image_marke_3 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_marke_3 }}</a> </div> </div>
                            </div>
                          </div>
                        </div>
                        <div class="navbar-dropdown-content-wrapper">
                          <div class="navbar-dropdown-header">
{{ section.settings.text_heading_right_marke }}
</div>
                          <div class="spacer-small"></div>
                          <div class="navbar-dropdown-link-wrapper">
                            <div>
                              <a href="{{ section.settings.url_category_marke_1 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_marke_1 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_marke_2 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_marke_2 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_marke_3 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_marke_3 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_marke_4 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_marke_4 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_marke_5 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_marke_5 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_marke_6 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_marke_6 }} </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="uui-navbar02_dropdown-content-right">{% if section.settings.image_cta_image_marke %}
{{ section.settings.image_cta_image_marke | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'navbar-dropdown-image' }}
{% else %}
<img src="{{ 'Group-264.png' | asset_url }}" loading="lazy" alt="" class="navbar-dropdown-image">
{% endif %}</div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div>
              <div data-delay="200" data-hover="true" class="nav_menu-dropdown w-dropdown">
                <div class="nav_dropdown-toggle-4 w-dropdown-toggle">
                  <div class="dropdown-icon-4 w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                    </svg></div>
                  <a li-object:href="link.url" href="{{ link.url }}" class="navbar-text w-inline-block">
                    <div>
                      <div class="navbar-text">
{{ section.settings.text_text_hersteller }}
</div>
                    </div>
                  </a>
                </div>
                <nav class="nav_dropdown-list-2 w-dropdown-list">
                  <div class="padding-global max-width-full">
                    <div class="uui-navbar02_dropdown-content">
                      <div class="uui-navbar02_dropdown-content-left">
                        <div id="w-node-_9ad985d5-1961-7536-cfee-c0d6977a8de0-aa206ded" class="navbar-dropdown-content-wrapper is-left">
                          <div class="navbar-dropdown-header">
{{ section.settings.text_heading_left_hersteller }}
</div>
                          <div class="spacer-small"></div>
                          <div class="navbar-dropdown-bestseller-wrapper">
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_hersteller_1 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_hersteller_1 }}">{% if section.settings.image_product_image_hersteller_1 %} {{ section.settings.image_product_image_hersteller_1 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_hersteller_1 }}</a> </div> </div>
                            </div>
                            <div class="line"></div>
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_hersteller_2 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_hersteller_2 }}">{% if section.settings.image_product_image_hersteller_2 %} {{ section.settings.image_product_image_hersteller_2 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_hersteller_2 }}</a> </div> </div>
                            </div>
                            <div class="line"></div>
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_hersteller_3 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_hersteller_3 }}">{% if section.settings.image_product_image_hersteller_3 %} {{ section.settings.image_product_image_hersteller_3 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_hersteller_3 }}</a> </div> </div>
                            </div>
                          </div>
                        </div>
                        <div class="navbar-dropdown-content-wrapper">
                          <div class="navbar-dropdown-header">
{{ section.settings.text_heading_right_hersteller }}
</div>
                          <div class="spacer-small"></div>
                          <div class="navbar-dropdown-link-wrapper">
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_1 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_1 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_2 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_2 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_3 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_3 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_4 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_4 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_5 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_5 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_6 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_6 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_hersteller_7 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_hersteller_7 }} </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="uui-navbar02_dropdown-content-right">{% if section.settings.image_cta_image_hersteller %}
{{ section.settings.image_cta_image_hersteller | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'navbar-dropdown-image' }}
{% else %}
<img src="{{ 'Group-264.png' | asset_url }}" loading="lazy" alt="" class="navbar-dropdown-image">
{% endif %}</div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div>
              <div data-delay="200" data-hover="true" class="nav_menu-dropdown w-dropdown">
                <div class="nav_dropdown-toggle-4 w-dropdown-toggle">
                  <div class="dropdown-icon-4 w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                    </svg></div>
                  <a li-object:href="link.url" href="{{ link.url }}" class="navbar-text w-inline-block">
                    <div>
                      <div class="navbar-text">
{{ section.settings.text_produkt }}
</div>
                    </div>
                  </a>
                </div>
                <nav class="nav_dropdown-list-2 w-dropdown-list">
                  <div class="padding-global max-width-full">
                    <div class="uui-navbar02_dropdown-content">
                      <div class="uui-navbar02_dropdown-content-left">
                        <div id="w-node-_69c63c94-740b-d16f-60e0-f631706a4937-aa206ded" class="navbar-dropdown-content-wrapper is-left">
                          <div class="navbar-dropdown-header">
{{ section.settings.text_heading_left_produkt }}
</div>
                          <div class="spacer-small"></div>
                          <div class="navbar-dropdown-bestseller-wrapper">
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_produkt_1 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_produkt_1 }}">{% if section.settings.image_product_image_produkt_1 %} {{ section.settings.image_product_image_produkt_1 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_produkt_1 }}</a> </div> </div>
                            </div>
                            <div class="line"></div>
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_produkt_2 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_produkt_2 }}">{% if section.settings.image_product_image_produkt_2 %} {{ section.settings.image_product_image_produkt_2 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_produkt_2 }}</a> </div> </div>
                            </div>
                            <div class="line"></div>
                            <div>
                              <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_produkt_3 }}"> <div class="navbar-dropdown-bestseller-item" href="{{ section.settings.url_product_link_produkt_3 }}">{% if section.settings.image_product_image_produkt_3 %} {{ section.settings.image_product_image_produkt_3 | image_url: width: 1000 | image_tag: loading: 'lazy', width: 'Auto', class: 'bestseller-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="Auto" alt="" class="bestseller-image"> {% endif %} <a href="#" class="navbar-dropdown-link is-bestseller" href="#">{{ section.settings.text_product_name_produkt_3 }}</a> </div> </div>
                            </div>
                          </div>
                        </div>
                        <div class="navbar-dropdown-content-wrapper">
                          <div class="navbar-dropdown-header">
{{ section.settings.text_heading_right_produkt }}
</div>
                          <div class="spacer-small"></div>
                          <div class="navbar-dropdown-link-wrapper">
                            <div>
                              <a href="{{ section.settings.url_category_produkt_1 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_produkt_1 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_produkt_2 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_produkt_2 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_produkt_3 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_produkt_3 }} </a>
                            </div>
                            <div>
                              <a href="{{ section.settings.url_category_produkt_4 }}" class="navbar-dropdown-link"> {{ section.settings.text_category_produkt_4 }} </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="uui-navbar02_dropdown-content-right">{% if section.settings.image_cta_image_produkt %}
{{ section.settings.image_cta_image_produkt | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'navbar-dropdown-image' }}
{% else %}
<img src="{{ 'Group-264.png' | asset_url }}" loading="lazy" alt="" class="navbar-dropdown-image">
{% endif %}</div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="navbar-outbound-link-wrapper">
              <a href="{{ section.settings.url_link }}" class="navbar-text"> {{ section.settings.text_outbound_link }} </a>
            </div>
          </nav>
          <div class="nav_shop-icons">
            {% if shop.customer_accounts_optional %}    <div li-if="shop.customer_accounts_optional" class="nav_account">
    
              <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="nav_shop-icon w-inline-block">
                <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                    <mask id="mask0_2941_121306" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                      <rect width="24" height="24" fill="#D9D9D9"></rect>
                    </mask>
                    <g mask="url(#mask0_2941_121306)">
                      <path d="M12 12C10.9 12 9.95833 11.6083 9.175 10.825C8.39167 10.0417 8 9.1 8 8C8 6.9 8.39167 5.95833 9.175 5.175C9.95833 4.39167 10.9 4 12 4C13.1 4 14.0417 4.39167 14.825 5.175C15.6083 5.95833 16 6.9 16 8C16 9.1 15.6083 10.0417 14.825 10.825C14.0417 11.6083 13.1 12 12 12ZM4 20V17.2C4 16.6333 4.14583 16.1125 4.4375 15.6375C4.72917 15.1625 5.11667 14.8 5.6 14.55C6.63333 14.0333 7.68333 13.6458 8.75 13.3875C9.81667 13.1292 10.9 13 12 13C13.1 13 14.1833 13.1292 15.25 13.3875C16.3167 13.6458 17.3667 14.0333 18.4 14.55C18.8833 14.8 19.2708 15.1625 19.5625 15.6375C19.8542 16.1125 20 16.6333 20 17.2V20H4ZM6 18H18V17.2C18 17.0167 17.9542 16.85 17.8625 16.7C17.7708 16.55 17.65 16.4333 17.5 16.35C16.6 15.9 15.6917 15.5625 14.775 15.3375C13.8583 15.1125 12.9333 15 12 15C11.0667 15 10.1417 15.1125 9.225 15.3375C8.30833 15.5625 7.4 15.9 6.5 16.35C6.35 16.4333 6.22917 16.55 6.1375 16.7C6.04583 16.85 6 17.0167 6 17.2V18ZM12 10C12.55 10 13.0208 9.80417 13.4125 9.4125C13.8042 9.02083 14 8.55 14 8C14 7.45 13.8042 6.97917 13.4125 6.5875C13.0208 6.19583 12.55 6 12 6C11.45 6 10.9792 6.19583 10.5875 6.5875C10.1958 6.97917 10 7.45 10 8C10 8.55 10.1958 9.02083 10.5875 9.4125C10.9792 9.80417 11.45 10 12 10Z" fill="currentColor"></path>
                    </g>
                  </svg></div>
              </a>
                </div>
{% endif %}
            {% render 'mini_cart' %}
          </div>
          <div class="nav_menu-button w-nav-button">
            <div data-w-id="5a3d68ce-093a-68c8-fab8-972baa206e5c" data-is-ix2-target="1" class="nav-lottie" data-animation-type="lottie" data-src="{{ 'lottieflow-menu-nav-06-000000-easey.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="2.36"></div>
          </div>
        </div>
      </div> {% schema %} {
    "tag": "div",
    "name": "header",
    "class": "section_navbar-2",
    "settings": [
        {
            "id": "text_text_automarke",
            "type": "text",
            "label": "Text Automarke",
            "default": "Automarke"
        },
        {
            "id": "text_heading_left_marke",
            "type": "text",
            "label": "Heading Left Marke",
            "default": "Unsere Bestseller"
        },
        {
            "id": "url_product_link_marke_1",
            "type": "url",
            "label": "Product Link Marke 1"
        },
        {
            "id": "image_product_image_marke_1",
            "type": "image_picker",
            "label": "Product Image Marke 1"
        },
        {
            "id": "text_product_name_marke_1",
            "type": "text",
            "label": "Product Name Marke 1",
            "default": "Helix Next V Two"
        },
        {
            "id": "url_product_link_marke_2",
            "type": "url",
            "label": "Product Link Marke 2"
        },
        {
            "id": "image_product_image_marke_2",
            "type": "image_picker",
            "label": "Product Image Marke 2"
        },
        {
            "id": "text_product_name_marke_2",
            "type": "text",
            "label": "Product Name Marke 2",
            "default": "Helix Next V Two"
        },
        {
            "id": "url_product_link_marke_3",
            "type": "url",
            "label": "Product Link Marke 3"
        },
        {
            "id": "image_product_image_marke_3",
            "type": "image_picker",
            "label": "Product Image Marke 3"
        },
        {
            "id": "text_product_name_marke_3",
            "type": "text",
            "label": "Product Name Marke 3",
            "default": "Helix Next V Two"
        },
        {
            "id": "text_heading_right_marke",
            "type": "text",
            "label": "Heading Right Marke",
            "default": "Alle Automarken"
        },
        {
            "id": "url_category_marke_1",
            "type": "url",
            "label": "Category Marke 1"
        },
        {
            "id": "text_category_marke_1",
            "type": "text",
            "label": "Category Marke 1",
            "default": "Audi"
        },
        {
            "id": "url_category_marke_2",
            "type": "url",
            "label": "Category Marke 2"
        },
        {
            "id": "text_category_marke_2",
            "type": "text",
            "label": "Category Marke 2",
            "default": "BMW"
        },
        {
            "id": "url_category_marke_3",
            "type": "url",
            "label": "Category Marke 3"
        },
        {
            "id": "text_category_marke_3",
            "type": "text",
            "label": "Category Marke 3",
            "default": "Mercedes"
        },
        {
            "id": "url_category_marke_4",
            "type": "url",
            "label": "Category Marke 4"
        },
        {
            "id": "text_category_marke_4",
            "type": "text",
            "label": "Category Marke 4",
            "default": "VW"
        },
        {
            "id": "url_category_marke_5",
            "type": "url",
            "label": "Category Marke 5"
        },
        {
            "id": "text_category_marke_5",
            "type": "text",
            "label": "Category Marke 5",
            "default": "Fiat"
        },
        {
            "id": "url_category_marke_6",
            "type": "url",
            "label": "Category Marke 6"
        },
        {
            "id": "text_category_marke_6",
            "type": "text",
            "label": "Category Marke 6",
            "default": "Ineos"
        },
        {
            "id": "image_cta_image_marke",
            "type": "image_picker",
            "label": "CTA Image Marke"
        },
        {
            "id": "text_text_hersteller",
            "type": "text",
            "label": "Text Hersteller",
            "default": "Hersteller"
        },
        {
            "id": "text_heading_left_hersteller",
            "type": "text",
            "label": "Heading Left Hersteller",
            "default": "Unsere Bestseller"
        },
        {
            "id": "url_product_link_hersteller_1",
            "type": "url",
            "label": "Product Link Hersteller 1"
        },
        {
            "id": "image_product_image_hersteller_1",
            "type": "image_picker",
            "label": "Product Image Hersteller 1"
        },
        {
            "id": "text_product_name_hersteller_1",
            "type": "text",
            "label": "Product Name Hersteller 1",
            "default": "Helix Next V Two"
        },
        {
            "id": "url_product_link_hersteller_2",
            "type": "url",
            "label": "Product Link Hersteller 2"
        },
        {
            "id": "image_product_image_hersteller_2",
            "type": "image_picker",
            "label": "Product Image Hersteller 2"
        },
        {
            "id": "text_product_name_hersteller_2",
            "type": "text",
            "label": "Product Name Hersteller 2",
            "default": "Helix Next V Two"
        },
        {
            "id": "url_product_link_hersteller_3",
            "type": "url",
            "label": "Product Link Hersteller 3"
        },
        {
            "id": "image_product_image_hersteller_3",
            "type": "image_picker",
            "label": "Product Image Hersteller 3"
        },
        {
            "id": "text_product_name_hersteller_3",
            "type": "text",
            "label": "Product Name Hersteller 3",
            "default": "Helix Next V Two"
        },
        {
            "id": "text_heading_right_hersteller",
            "type": "text",
            "label": "Heading Right Hersteller",
            "default": "Alle Hersteller"
        },
        {
            "id": "url_category_hersteller_1",
            "type": "url",
            "label": "Category Hersteller 1"
        },
        {
            "id": "text_category_hersteller_1",
            "type": "text",
            "label": "Category Hersteller 1",
            "default": "Helix"
        },
        {
            "id": "url_category_hersteller_2",
            "type": "url",
            "label": "Category Hersteller 2"
        },
        {
            "id": "text_category_hersteller_2",
            "type": "text",
            "label": "Category Hersteller 2",
            "default": "Steg"
        },
        {
            "id": "url_category_hersteller_3",
            "type": "url",
            "label": "Category Hersteller 3"
        },
        {
            "id": "text_category_hersteller_3",
            "type": "text",
            "label": "Category Hersteller 3",
            "default": "Match"
        },
        {
            "id": "url_category_hersteller_4",
            "type": "url",
            "label": "Category Hersteller 4"
        },
        {
            "id": "text_category_hersteller_4",
            "type": "text",
            "label": "Category Hersteller 4",
            "default": "Eton"
        },
        {
            "id": "url_category_hersteller_5",
            "type": "url",
            "label": "Category Hersteller 5"
        },
        {
            "id": "text_category_hersteller_5",
            "type": "text",
            "label": "Category Hersteller 5",
            "default": "Fortissimo"
        },
        {
            "id": "url_category_hersteller_6",
            "type": "url",
            "label": "Category Hersteller 6"
        },
        {
            "id": "text_category_hersteller_6",
            "type": "text",
            "label": "Category Hersteller 6",
            "default": "Zenec"
        },
        {
            "id": "url_category_hersteller_7",
            "type": "url",
            "label": "Category Hersteller 7"
        },
        {
            "id": "text_category_hersteller_7",
            "type": "text",
            "label": "Category Hersteller 7",
            "default": "Soundupgrade Bayern"
        },
        {
            "id": "image_cta_image_hersteller",
            "type": "image_picker",
            "label": "CTA Image Hersteller"
        },
        {
            "id": "text_produkt",
            "type": "text",
            "label": "Produkt",
            "default": "Produkt"
        },
        {
            "id": "text_heading_left_produkt",
            "type": "text",
            "label": "Heading Left Produkt",
            "default": "Unsere Bestseller"
        },
        {
            "id": "url_product_link_produkt_1",
            "type": "url",
            "label": "Product Link Produkt 1"
        },
        {
            "id": "image_product_image_produkt_1",
            "type": "image_picker",
            "label": "Product Image Produkt 1"
        },
        {
            "id": "text_product_name_produkt_1",
            "type": "text",
            "label": "Product Name Produkt 1",
            "default": "Helix Next V Two"
        },
        {
            "id": "url_product_link_produkt_2",
            "type": "url",
            "label": "Product Link Produkt 2"
        },
        {
            "id": "image_product_image_produkt_2",
            "type": "image_picker",
            "label": "Product Image Produkt 2"
        },
        {
            "id": "text_product_name_produkt_2",
            "type": "text",
            "label": "Product Name Produkt 2",
            "default": "Helix Next V Two"
        },
        {
            "id": "url_product_link_produkt_3",
            "type": "url",
            "label": "Product Link Produkt 3"
        },
        {
            "id": "image_product_image_produkt_3",
            "type": "image_picker",
            "label": "Product Image Produkt 3"
        },
        {
            "id": "text_product_name_produkt_3",
            "type": "text",
            "label": "Product Name Produkt 3",
            "default": "Helix Next V Two"
        },
        {
            "id": "text_heading_right_produkt",
            "type": "text",
            "label": "Heading Right Produkt",
            "default": "Alle Produkte"
        },
        {
            "id": "url_category_produkt_1",
            "type": "url",
            "label": "Category Produkt 1"
        },
        {
            "id": "text_category_produkt_1",
            "type": "text",
            "label": "Category Produkt 1",
            "default": "Lautsprecher"
        },
        {
            "id": "url_category_produkt_2",
            "type": "url",
            "label": "Category Produkt 2"
        },
        {
            "id": "text_category_produkt_2",
            "type": "text",
            "label": "Category Produkt 2",
            "default": "Subwoofer"
        },
        {
            "id": "url_category_produkt_3",
            "type": "url",
            "label": "Category Produkt 3"
        },
        {
            "id": "text_category_produkt_3",
            "type": "text",
            "label": "Category Produkt 3",
            "default": "Verst\u00e4rker"
        },
        {
            "id": "url_category_produkt_4",
            "type": "url",
            "label": "Category Produkt 4"
        },
        {
            "id": "text_category_produkt_4",
            "type": "text",
            "label": "Category Produkt 4",
            "default": "Radios"
        },
        {
            "id": "image_cta_image_produkt",
            "type": "image_picker",
            "label": "CTA Image Produkt"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "text_outbound_link",
            "type": "text",
            "label": "Outbound Link",
            "default": "Soundupgrade Bayern"
        }
    ],
    "presets": [
        {
            "name": "header",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}