<h1 class="heading-style-h1">
{{ section.settings.text_h1 }}
</h1>
        <div class="spacer-xsmall"></div>
        <h2 class="heading-style-h2 is-hero">
{{ section.settings.text_subtext }}
</h2>
        <div class="spacer-large"></div>
        <div class="hero-button-wrapper is-home">
          <a href="{{ section.settings.url_button_1_link }}" class="button-5 is-primary w-button"> {{ section.settings.text_button_1 }} </a>
          <a href="{{ section.settings.url_button_2_link }}" class="button-5 is-secondary w-button"> {{ section.settings.text_button_2 }} </a>
        </div> {% schema %} {
    "tag": "div",
    "name": "Home Hero",
    "class": "section-hero",
    "settings": [
        {
            "id": "text_h1",
            "type": "text",
            "label": "H1",
            "default": "Online Shop"
        },
        {
            "id": "text_subtext",
            "type": "text",
            "label": "Subtext",
            "default": "Soundupgrade Bayern"
        },
        {
            "id": "url_button_1_link",
            "type": "url",
            "label": "Button 1 Link"
        },
        {
            "id": "text_button_1",
            "type": "text",
            "label": "Button 1",
            "default": "Button Text"
        },
        {
            "id": "url_button_2_link",
            "type": "url",
            "label": "Button 2 LInk"
        },
        {
            "id": "text_button_2",
            "type": "text",
            "label": "Button 2",
            "default": "Button Text"
        }
    ],
    "presets": [
        {
            "name": "Home Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}