<div class="spacer-huge"></div><div class="padding-global"><div class="produktinfo-wrapper-outer"><img src="{{ section.settings.image_produktfoto_advanced | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_produktfoto_advanced.alt }}" class="produktinfo-image">
<div class="produktinfo-content-wrapper"><h3 class="heading-style-h3 text-align-left">
{{ section.settings.text_soundupgrade }}
</h3>
<div class="spacer-medium"></div><div li-object="product.metafields.custom.produktinfo_advanced" class="produktinfo-rich-text">{{ product.metafields.custom.produktinfo_advanced }}</div></div></div><div class="spacer-xhuge"></div><div class="produktinfo-wrapper-outer"><img src="{{ section.settings.image_produktfoto_advanced | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_produktfoto_advanced.alt }}" class="produktinfo-image">
<div class="produktinfo-content-wrapper"><h3 class="heading-style-h3 text-align-left">
{{ section.settings.text_soundupgrade }}
</h3>
<div class="spacer-medium"></div><div li-object="product.metafields.custom.produktinfo_premium" class="produktinfo-rich-text">{{ product.metafields.custom.produktinfo_premium }}</div></div></div><div class="spacer-xhuge"></div><div class="produktinfo-wrapper-outer"><img src="{{ section.settings.image_produktfoto_advanced | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_produktfoto_advanced.alt }}" class="produktinfo-image">
<div class="produktinfo-content-wrapper"><h3 class="heading-style-h3 text-align-left">
{{ section.settings.text_soundupgrade }}
</h3>
<div class="spacer-medium"></div><div li-object="product.metafields.custom.produktinfo_high_end" class="produktinfo-rich-text">{{ product.metafields.custom.produktinfo_high_end }}</div></div></div></div><div class="spacer-huge"></div> {% schema %} {"tag":"div","name":"Produktinfo","class":"section_produktinfo","settings":[{"id":"image_produktfoto_advanced","type":"image_picker","label":"Produktfoto Advanced"},{"id":"text_soundupgrade","type":"text","label":"Soundupgrade","default":"<span li-settings:text=\"Soundupgrade Level\" class=\"h3-blau\">Advanced<\/span> Soundupgrade"},{"id":"text_soundupgrade_level","type":"text","label":"Soundupgrade Level","default":"Advanced"}],"presets":[{"name":"Produktinfo","category":"Liquify","blocks":[]}]} {% endschema %}