<div class="padding-global is-tabelle"><div class="w-layout-grid tabelle-grid"><h2 class="heading-style-h2 is-tabelle">Soundupgrade Vergleich</h2><h3 class="heading-style-h3 is-blau is-centered">Advanced</h3><h3 class="heading-style-h3 is-red is-centered">Premium</h3><h3 class="heading-style-h3 is-green is-centered">High-End</h3><div class="heading-style-h3 text-align-left is-centered">Lautsprecher</div><div class="tabelle-content-wrapper"><div li-if="settings.lautsprecher_advanced_text != blank" class="text-size-medium">
{{ section.settings.text_lautsprecher_advanced_text }}
</div>
{% if settings.lautsprecher_advanced_image != blank %}    <div li-if="settings.lautsprecher_advanced_image != blank" class="li-if-wrapper">
    <img src="{{ section.settings.image_lautsprecher_advanced_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_lautsprecher_advanced_image.alt }}" class="tabelle-image">
    </div>
{% endif %}</div><div class="tabelle-content-wrapper"><div li-if="settings.lautsprecher_premium_text != blank" class="text-size-medium">
{{ section.settings.text_lautsprecher_premium_text }}
</div>
{% if settings.lautsprecher_premium_image != blank %}    <div li-if="settings.lautsprecher_premium_image != blank" class="li-if-wrapper">
    <img src="{{ section.settings.image_lautsprecher_premium_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_lautsprecher_premium_image.alt }}" class="tabelle-image">
    </div>
{% endif %}</div><div class="tabelle-content-wrapper"><div li-if="settings.lautsprecher_high_end_text != blank" class="text-size-medium">
{{ section.settings.text_lautsprecher_high_end_text }}
</div>
{% if settings.lautsprecher_high_end_image != blank %}    <div li-if="settings.lautsprecher_high_end_image != blank" class="li-if-wrapper">
    <img src="{{ section.settings.image_lautsprecher_high_end_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_lautsprecher_high_end_image.alt }}" class="tabelle-image">
    </div>
{% endif %}</div><div class="heading-style-h3 text-align-left is-centered">Hochtöner</div><div class="tabelle-content-wrapper"><div li-if="settings.tweeter_advanced_text != blank" class="text-size-medium">
{{ section.settings.text_tweeter_advanced_text }}
</div>
<img src="{{ section.settings.image_tweeter_advanced_image | img_url: 'master' }}" loading="lazy" li-if="settings.tweeter_advanced_image != blank" alt="{{ section.settings.image_tweeter_advanced_image.alt }}" class="tabelle-image">
</div><div class="tabelle-content-wrapper"><div li-if="settings.tweeter_premium_text != blank" class="text-size-medium">
{{ section.settings.text_tweeter_premium_text }}
</div>
<img src="{{ settings.sections.check_tweeter_premium }}" loading="lazy" li-object:src="settings.sections.check_tweeter_premium" li-if="settings.sections.check_tweeter_premium" alt="" class="tabelle-image">
</div><div class="tabelle-content-wrapper"><div li-if="settings.tweeter_high_end_text != blank" class="text-size-medium">
{{ section.settings.text_tweeter_high_end_text }}
</div>
<img src="{{ settings.sections.check_tweeter_high_end }}" loading="lazy" li-object:src="settings.sections.check_tweeter_high_end" li-if="settings.sections.check_tweeter_high_end" alt="" class="tabelle-image">
</div><div class="heading-style-h3 text-align-left is-centered">Subwoofer</div><div class="tabelle-content-wrapper">{% if settings.sections.text_sub_advanced %}    <div li-if="!settings.sections.check_sub_advanced" li-object="settings.sections.text_sub_advanced" class="text-size-medium">
    This is some text inside of a div block.    </div>
{% endif %}<img src="{{ settings.sections.check_sub_advanced }}" loading="lazy" li-object:src="settings.sections.check_sub_advanced" li-if="settings.sections.check_sub_advanced" alt="" class="tabelle-image">
</div><div class="tabelle-content-wrapper">{% if settings.sections.text_sub_premium %}    <div li-if="!settings.sections.check_sub_premium" li-object="settings.sections.text_sub_premium" class="text-size-medium">
    This is some text inside of a div block.    </div>
{% endif %}<img src="{{ settings.sections.check_sub_premium }}" loading="lazy" li-object:src="settings.sections.check_sub_premium" li-if="settings.sections.check_sub_premium" alt="" class="tabelle-image">
</div><div class="tabelle-content-wrapper">{% if settings.sections.text_sub_high_end %}    <div li-if="!settings.sections.check_sub_high_end" li-object="settings.sections.text_sub_high_end" class="text-size-medium">
    This is some text inside of a div block.    </div>
{% endif %}<img src="{{ settings.sections.check_sub_high_end }}" loading="lazy" li-object:src="settings.sections.check_sub_high_end" li-if="settings.sections.check_sub_high_end" alt="" class="tabelle-image">
</div><div class="heading-style-h3 text-align-left is-centered">Endstufe</div><div class="tabelle-content-wrapper">{% if settings.sections.text_dsp_advanced %}    <div li-if="!settings.sections.check_dsp_advanced" li-object="settings.sections.text_dsp_advanced" class="text-size-medium">
    This is some text inside of a div block.    </div>
{% endif %}<img src="{{ settings.sections.check_dsp_advanced }}" loading="lazy" li-object:src="settings.sections.check_dsp_advanced" li-if="settings.sections.check_dsp_advanced" alt="" class="tabelle-image">
</div><div class="tabelle-content-wrapper">{% if settings.sections.text_dsp_premium %}    <div li-if="!settings.sections.check_dsp_premium" li-object="settings.sections.text_dsp_premium" class="text-size-medium">
    This is some text inside of a div block.    </div>
{% endif %}<img src="{{ settings.sections.check_dsp_premium }}" loading="lazy" li-object:src="settings.sections.check_dsp_premium" li-if="settings.sections.check_dsp_premium" alt="" class="tabelle-image">
</div><div class="tabelle-content-wrapper">{% if settings.sections.text_dsp_high_end %}    <div li-if="!settings.sections.check_dsp_high_end" li-object="settings.sections.text_dsp_high_end" class="text-size-medium">
    This is some text inside of a div block.    </div>
{% endif %}<img src="{{ settings.sections.check_dsp_high_end }}" loading="lazy" li-object:src="settings.sections.check_dsp_high_end" li-if="settings.sections.check_dsp_high_end" alt="" class="tabelle-image">
</div></div></div> {% schema %} {"tag":"div","name":"vergleichstabelle","class":"section_tabelle","settings":[{"id":"text_lautsprecher_advanced_text","type":"text","label":"Lautsprecher Advanced Text","default":"This is some text inside of a div block."},{"id":"image_lautsprecher_advanced_image","type":"image_picker","label":"Lautsprecher Advanced Image"},{"id":"text_lautsprecher_premium_text","type":"text","label":"Lautsprecher Premium Text","default":"This is some text inside of a div block."},{"id":"image_lautsprecher_premium_image","type":"image_picker","label":"Lautsprecher Premium Image"},{"id":"text_lautsprecher_high_end_text","type":"text","label":"Lautsprecher High End Text","default":"This is some text inside of a div block."},{"id":"image_lautsprecher_high_end_image","type":"image_picker","label":"Lautsprecher High End Image"},{"id":"text_tweeter_advanced_text","type":"text","label":"Tweeter Advanced Text","default":"This is some text inside of a div block."},{"id":"image_tweeter_advanced_image","type":"image_picker","label":"Tweeter Advanced Image"},{"id":"text_tweeter_premium_text","type":"text","label":"Tweeter Premium Text","default":"This is some text inside of a div block."},{"id":"text_tweeter_high_end_text","type":"text","label":"Tweeter High End Text","default":"This is some text inside of a div block."}],"presets":[{"name":"vergleichstabelle","category":"Liquify","blocks":[]}]} {% endschema %}